<header>
  <div class="navbar fixed-top navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="assets/img/logo.svg" alt="Kiwi standing on oval">
      </a>
      <button type="button" (click)="openModal(content)" class="btn btn-danger btn-sm"><i class="fas fa-heart"></i> My favourites <span class="badge badge-light">{{countFavourite()}}</span></button>
    </div>
  </div>
</header>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">My favourites</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-group">
      <a href="#" *ngFor="let car of selectedCars" class="animated fadeIn list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><i class="text-danger fas fa-heart"></i> {{car.brand}} <small>{{car.model}}</small></h5>
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeFromFavourite(car)"><i class="fas fa-minus-circle"></i> Remove</button>
        </div>
        <p class="mb-1">{{car.price | currency:'EUR'}}</p>
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
