<app-caption></app-caption>
<div class="album py-3 bg-light">
  <div class="container text-center p-3">
    <div class="row">
      <div class="col-4">
        <h5 class="mb-2"><i class="fas fa-search"></i> Brand</h5>
        <hr />
        <button type="button" *ngFor="let brand of brands" class="btn m-1" [ngClass]="{'btn-outline-info': !brand.isSelected, 'btn-info animated rubberBand': brand.isSelected}" (click)="applySearchBrand(brand)">{{brand.name}}</button>
      </div>
      <div class="col-3">
        <h5 class="mb-2"><i class="fas fa-search"></i> Model</h5>
        <hr />
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-car"></i>&nbsp; Model</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="modelCar" [ngbTypeahead]="search" />
        </div>
      </div>
      <div class="col-3">
        <h5 class="mb-2"><i class="fas fa-search"></i> Price Range</h5>
        <hr />
        <nouislider [connect]="true" [min]="0" [max]="100000" [step]="5000" [(ngModel)]="rangePrice" ></nouislider>
          from {{rangePrice[0] | currency:'EUR' }} to {{rangePrice[1] | currency:'EUR'}}
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center">
        <h5 class="mb-2"></h5>
        <button class="btn btn-primary btn-lg" (click)="applySearch()" type="button">Search !</button>
      </div>
    </div>

    <div *ngIf="showResult" class="animated flipInX">
      <hr />
      <div class="alert alert-success" role="alert">
        <i class="fas fa-car"></i> {{cars?.length}} Car(s) found
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let car of cars">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" [attr.src]="'assets/img/cars/'+car.image" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <h3>{{car.brand}} <small>{{car.model}}</small></h3>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"><i class="fas fa-info-circle"></i> {{car.price | currency:'EUR'}}</small>
              <button *ngIf="!car.isFavourite" type="button" class="btn btn-sm btn-light" (click)="addFavourite(car)"><i class="fas fa-plus-circle"></i> Add to favourite</button>
              <span *ngIf="car.isFavourite" class="text-danger animated rubberBand"><i class="fas fa-heart"></i> Liked !</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
