<section class="jumbotron text-center mb-0">
  <div class="container">
    <h1 class="jumbotron-heading">La nueva manera de comprar tu coche nuevo</h1>
    <p class="lead text-muted">Compara las mejores ofertas de concesionarios oficiales en menos de 24h</p>
    <p>
      <a href="https://carnovo.com/es" class="m-2 btn btn-primary my-2"><i class="fas fa-link"></i> Visit the website</a>
      <a href="mailto:stephane.solida@gmail.com" class="m-2 btn btn-secondary my-2"><i class="fas fa-envelope"></i> Contact me</a>
    </p>
  </div>
</section>
