<footer class="text-muted m-4">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>For more information, please contact me at <a href="mailto:stephane.solida@gmail.com">stephane.solida@gmail.com</a></p>
  </div>
</footer>
